@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: medium;
    font-weight: 400;
    padding: 15px 30px;
    color: #ecf3ee;
    background-color: #83aa17;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

.logo {
    width: 100px;
    height: auto;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    margin: 0 10px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 14px;
    color: #465b52;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #b6a9d0;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #b6a9d0;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#authSection {
    background-color: #f9f9f9; /* Culoare de fundal */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

/* Stilizare formulare */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    padding: 10px;
    border: none;
    background-color: #9e83d4; /* Mov deschis */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #b6a9d0; /* Mov și mai deschis la hover */
}

/* Stilizare titluri form */
#authSection h2 {
    text-align: center;
    color: #5e4295; /* Mov */
    margin-bottom: 20px;
}

/* Containerul formularului */
#authSection > div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}



#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero {
    background-image: url("../images/h1.jpeg");
    height: 99vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 20px;
}

#hero h1 {
    color: #5e4295;
}

#hero button {
    background-color: #9e83d4;
    color: #42247d;
    border: 1;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #465b52;
    border-radius: 4px;
    margin: 15px 0;
    align-items: center;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.03);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #281156;
    background-color: #d8d4df;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #a19fa4;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d8d4df;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #a19fa4;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #d8d4df;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #a19fa4;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #9d58aa;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2 ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #6d667b;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    font-size: 14px;
    color: #505f59;
}

#product1 .pro .des i {
    font-size: 20px;
    color: #e6c42b;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #505f59;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: #42247d;
    background-color: #c5b5e4;
    border: 1px solid #221638;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-image: url("../images/banner/w2.jpeg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #a485dd;
    font-size: 16px;
}

#banner h2 {
    color: #6d45b6;
    font-size: 16px;
    padding: 10px 0;
}

#banner h2 span {
    color: #93c40a;
}

#banner button:hover {
    background-color: #40244c;
    color: #fff;
    border: 1px solid #3d2147;
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(56, 54, 56, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px;
}

#newsletter h4 {
    color: #5e4d7e;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
}

#newsletter p span {
    color: #93c40a;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
}

#newsletter input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #93c40a;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
}

#newsletter button {
    background-color: #93c40a;
    color: #fff;
    border: 1px solid #93c40a;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#newsletter button:hover {
    background-color: #858b76;
    color: #fff;
    border: 1px solid #858b76;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    color: #473f56;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: .5px;
    padding-bottom: 20px;
}

footer p {
    color: #7154a7;
    font-size: 14px;
    padding-bottom: 20px;
}

footer a {
    color: #30283e;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    text-decoration: none;
    margin-bottom: 10px;
}

footer a:hover {
    color: #93c40a;
}

footer .follow i {
    font-size: 20px;
    color: #93c40a;
    margin-right: 10px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0;
}

footer .follow i:hover,
footer .install i:hover {
    color: #5e0ac4;
}

footer .copyright {
    width: 100%;
    text-align: start;
}

#page-header {
    background-color: #b3c6be;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #916fb3;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #beb1da;
    padding: 15px 20px;
    border-radius: 5px;
    color: #221638;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

#pagination a:hover {
    background-color: #93c40a;
    color: #fff;
    border: 1px solid #93c40a;
}

.single-pro-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails.single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails.single-pro-details input:focus {
    outline: none;
}

#prodetails.single-pro-details button {
    background-color: #221638;
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

#page-header.blog-header {
    background-image: url("images/banner/p5 copy.jpeg");
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #93c40a;
}

#blog .blog-details a:hover::after {
    background-color: #93c40a;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #9c96a0;
    z-index: -9;
}

#page-header.about-header {
    background-image: url("images/about/banner2.jpeg");
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #221638;
    color: #fff;
}

#form-details form button:hover {
    background-color: #93c40a;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div {
    padding-bottom: 25px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 80px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: aliceblue;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #221638;
        font-size: 30px;
        cursor: pointer;
        margin-right: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #221638;
        font-size: 34px;
        cursor: pointer;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 60%;
    }
}

@media (max-width: 470px) {
    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
        padding: 15px;
        justify-content: center;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #newsletter {
        padding: 20px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    #about-app .video iframe {
        width: 100%;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    #form-details .people div {
        width: 100%;
    }
}
